.container-fluid, .container-fluid2,
.container-fluid3,
.container-fluid4,
.container-fluid5,
.container-fluid6,
.container-fluid7 {
  border: 5px solid red;
}
.row {
  border: 5px solid blue;
}
.col-lg-2 {
  border: 5px solid green;
}
.col-lg-5 {
  border: 5px solid green;
}
.col-lg-4 {
  border: 5px solid green;
}
.col-lg-1 {
  border: 5px solid green;
}
.col-lg-7 {
  border: 5px solid green;
}
.container-fluid2 {
  display: flex;
  width: 35%;
  background-color: pink;
  justify-content: space-around;
}
.valentines {
  text-align: center;
}

.container-fluid3 {
  display: flex;
  width: 65%;
}
#Echo {
  display: flex;
}
.row {
  border: 5px solid blue;
}
.container-fluid2-3 {
  display: inline-flex;
}
.col-lg-12 {
  text-align: center;
}
.container-fluid5 {
  display: flex;
  width: 100%;
}
#gift {
  width: 100%;
}

.fluid7 {
  display: flex;
  border: 5px solid purple;
}
#amazon {
  
}
#sign {

}
